.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 2rem);
  width: 80%;
  margin: 2rem auto;
}

.CryptoQuote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.CryptoQuote-category,
.CryptoQuote-quote,
.CryptoQuote-author {
  margin-bottom: 2rem;
}
