.Punctuation {
  display: inline-block;
  width: var(--Character-font-size);
  font-size: var(--Character-font-size);
  margin-bottom: var(--Character-font-size);
  border-radius: 5px;
}

.Punctuation-top {
  color: #ddeaf0;
}

.Punctuation-bottom {
  color: #589cb4;
  font-weight: 500;
}
